@charset "UTF-8";
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-check:before {
  content: "\e900";
}

._icon-search:before {
  content: "\e901";
}

._icon-arrow-down:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "ProximaNova";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper .page {
  transition: 0.3s;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.dark {
  background-color: rgba(0, 0, 0, 0.486);
  pointer-events: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5625rem;
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    padding: 0 0.9375rem;
  }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  background: #fafafa;
  border-radius: 0.1875rem;
  height: 3.125rem;
  padding: 0.75rem 1.375rem;
  color: #2d3039;
  transition: 0.3s;
}
.input::placeholder {
  color: #b0b0b0;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.image {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.image img {
  max-width: 100%;
}
.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 48, 57, 0.534);
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.image.dark::after {
  opacity: 1;
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
  overflow: hidden;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  font-size: 0.875rem;
  line-height: 0.8571428571;
  background: #0278ff;
  border-radius: 0.1875rem;
  padding: 0.46875rem 1.6rem;
  color: #fff;
  transition: 0.3s;
  text-align: center;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #3392ff;
  }
}

.main-title {
  font-weight: 700;
  line-height: 1.2142857143;
  color: #2d3039;
}
@media (min-width: 69.375em) {
  .main-title {
    font-size: 2.625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .main-title {
    font-size: clamp( 2.25rem , 1.4079659084rem  +  1.7542833752vw , 2.625rem );
  }
}
@media (max-width: 47.99875em) {
  .main-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .main-title {
    font-size: clamp( 1.5rem , 0.9642617974rem  +  2.678691013vw , 2.25rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .main-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 47.99875em) {
  .main-title {
    padding-bottom: 1.875rem;
  }
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 0 0.875rem;
}
.breadcrumbs__link {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.breadcrumbs__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.4375rem;
  width: 0.0625rem;
  transform: translate(0, -50%);
  height: 80%;
  background-color: #2d3039;
}
.breadcrumbs__link:before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  height: 0.0625rem;
  background-color: #2d3039;
  transition: 0.4s;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover {
    color: #da0e17;
  }
  .breadcrumbs__link:hover::before {
    width: 0;
    background-color: #da0e17;
  }
}
.header__pod-menu {
  z-index: 10;
}

.top-header {
  position: relative;
  z-index: 11;
  padding: 1.0625rem 0;
  box-shadow: 0px 0.125rem 0.625rem rgba(39, 51, 95, 0.15);
}
.row-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 0.625rem;
}
@media (max-width: 61.99875em) {
  .header-navigation {
    display: none;
  }
}
.header-navigation__list {
  display: flex;
  align-items: center;
}
@media (min-width: 69.375em) {
  .header-navigation__list {
    column-gap: 2.8125rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 69.375em) {
  .header-navigation__list {
    column-gap: clamp( 1.40625rem , -10.4135421962rem  +  19.0645653279vw , 2.8125rem );
  }
}
@media (max-width: 61.99875em) {
  .header-navigation__list {
    column-gap: 1.40625rem;
  }
}
@media (max-width: 47.99875em) {
  .header-navigation__item {
    padding: 0 0.9375rem 1.875rem;
  }
}
.header-navigation__link {
  font-size: 1rem;
  line-height: 1;
  color: #2d3039;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .header-navigation__link:hover {
    color: #da0e17;
  }
}
@media (max-width: 47.99875em) {
  .header-navigation__link {
    font-size: 1rem;
    color: #000;
    display: block;
    padding: 0 0 0.9375rem 0;
    border-bottom: 0.0625rem solid #a8abb9;
  }
}
.header-navigation__link_button {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.header-navigation__link_button._active .header-navigation__text {
  color: #da0e17;
}
.header-navigation__link_button._active .header-navigation__icon {
  transform: rotate(-180deg);
}
.header-navigation__text {
  transition: 0.3s;
}
.header-navigation__icon {
  transition: 0.3s;
  display: flex;
}
.header-navigation__icon img {
  align-self: center;
}

.bottom-header {
  transition: 0.3s;
  padding: 1.25rem 0 2.8125rem 0;
}
.bottom-header__breadcrumbs {
  padding: 0 0 1.5625rem 0;
}
.bottom-header__row {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo-header {
  display: block;
}
.logo-header__image img {
  max-width: 100%;
}
@media (max-width: 29.99875em) {
  .logo-header__image {
    max-width: 12.5rem;
  }
}

.telephone-header__link {
  text-align: right;
}
@media (any-hover: hover) {
  .telephone-header__link:hover .telephone-header__tel {
    text-decoration: underline;
  }
  .telephone-header__link:hover .telephone-header__text {
    text-decoration: underline;
  }
}
@media (max-width: 47.99875em) {
  .telephone-header__link {
    display: none;
  }
}
.telephone-header__tel {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  text-align: right;
  color: #da0e17;
}
@media (max-width: 47.99875em) {
  .telephone-header__tel {
    display: none;
  }
}
.telephone-header__text {
  display: block;
}
.telephone-header__icon {
  max-width: 3rem;
}
@media (min-width: 47.99875em) {
  .telephone-header__icon {
    display: none;
  }
}
.telephone-header__icon img {
  max-width: 100%;
}

.pod-menu-header._active {
  opacity: 1;
  visibility: visible;
  top: 3.4375rem;
}
.pod-menu-header._active::before {
  top: -0.3125rem;
}

.pod-menu-header {
  opacity: 0;
  visibility: hidden;
  padding: 1.25rem 0;
  background: #ffffff;
  box-shadow: 0px 0.125rem 0.75rem rgba(39, 51, 95, 0.35);
  position: absolute;
  top: 4.6875rem;
  width: 100%;
  transition: 0.3s;
}
.pod-menu-header::before {
  content: "";
  position: absolute;
  top: -1.5625rem;
  height: 0.3125rem;
  background-color: #fff;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .pod-menu-header__container:not(:last-child) {
    padding-bottom: 1.875rem;
  }
}
.pod-menu-header__grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.9375rem -0.625rem;
}
@media (max-width: 61.99875em) {
  .pod-menu-header__grid {
    margin: -0.625rem -0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .pod-menu-header__grid {
    margin: 0;
  }
}
.pod-menu-header__spoller-content {
  padding: 1.25rem 0;
  border-bottom: 0.0625rem solid #a8abb9;
  width: 100%;
}
@media (min-width: 47.99875em) {
  .pod-menu-header__spoller-content {
    display: none;
  }
}
.pod-menu-header #spoller-content-services {
  padding: 1.25rem 0 0.3125rem 0;
}
.pod-menu-header__item {
  flex: 0 0 25%;
  padding: 0.9375rem 0.625rem;
}
@media (max-width: 47.99875em) {
  .pod-menu-header__item {
    flex: 0 0 33.333%;
  }
}
@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .pod-menu-header__item {
    padding: 0;
    flex: 1 1 100%;
  }
}
.pod-menu-header__button {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0.9375rem 0;
}
@media (max-width: 47.99875em) {
  .pod-menu-header__button {
    display: flex;
    border-bottom: 0.0625rem solid #a8abb9;
  }
}
.pod-menu-header__spoller-text {
  font-size: 1rem;
  line-height: 0.6666666667;
}
.pod-menu-header__icon {
  transition: 0.3s;
}
.pod-menu-header__icon img {
  width: 1rem;
  height: 1rem;
}

.pod-menu-header__button {
  transition: 0.3s;
}

.pod-menu-header__button._spoller-active {
  color: #da0e17;
}
.pod-menu-header__button._spoller-active .pod-menu-header__icon {
  transform: rotate(180deg);
}

@media (min-width: 47.99875em) {
  .item-pod-menu-header__button {
    display: none;
  }
  .item-pod-menu-header__spoller-text {
    display: none;
  }
  .item-pod-menu-header__icon {
    display: none;
  }
}
.item-pod-menu-header__title {
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding: 0 0 1.25em 0;
  color: #2d3039;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-header__title {
    padding: 0 0 0.9375rem 0;
  }
}
.item-pod-menu-header__list {
  padding: 0rem 0 0 0.125rem;
}
.item-pod-menu-header__item {
  font-size: 1rem;
}
.item-pod-menu-header__item:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-header__item:not(:last-child) {
    padding: 0 0 0.625rem 0;
  }
  .item-pod-menu-header__item:last-child {
    padding: 0 0 0.9375rem 0;
  }
}
.item-pod-menu-header__link {
  line-height: 1.5;
  color: #2d3039;
}
@media (any-hover: hover) {
  .item-pod-menu-header__link:hover {
    text-decoration: underline;
  }
}

.pod-menu-header__grid_blog {
  margin: -0.9375rem -0.75rem;
}
@media (max-width: 47.99875em) {
  .pod-menu-header__grid_blog {
    margin: 0;
  }
}
.pod-menu-header__grid_blog .pod-menu-header__item {
  padding: 0.9375rem 0.75rem;
  flex: 0 0 33.333%;
}
@media (max-width: 47.99875em) {
  .pod-menu-header__grid_blog .pod-menu-header__item {
    flex: 1 1 100%;
    padding: 0;
  }
  .pod-menu-header__grid_blog .pod-menu-header__item:not(:last-child) {
    padding: 0 0 0.9375rem 0;
  }
}

@media (max-width: 47.99875em) {
  .item-pod-menu-authors {
    margin-bottom: 0.9375rem;
    border-bottom: 0.0625rem solid #a8abb9;
  }
}
.item-pod-menu-authors__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #515568;
}
@media (max-width: 61.99875em) {
  .item-pod-menu-authors__title {
    font-size: 0.75rem;
  }
}
.item-pod-menu-authors__list {
  padding: 1.5625rem 0 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-authors__list {
    padding: 0.9375rem 0 0 0;
  }
}
.item-pod-menu-authors__item:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-authors__item:not(:last-child) {
    padding: 0 0 0.9375rem 0;
  }
}
.item-pod-menu-authors__link {
  color: #0278ff;
}
@media (any-hover: hover) {
  .item-pod-menu-authors__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 47.99875em) {
  .item-pod-menu-articles:not(:last-child) {
    margin-bottom: 0.9375rem;
    border-bottom: 0.0625rem solid #a8abb9;
  }
}
.item-pod-menu-articles__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #515568;
}
.item-pod-menu-articles__list {
  padding: 1.5625rem 0 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-articles__list {
    padding: 0.9375rem 0 0 0;
  }
}
.item-pod-menu-articles__item:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-articles__item:not(:last-child) {
    padding: 0 0 0.9375rem 0;
  }
}
@media (any-hover: hover) {
  .item-pod-menu-articles__link:hover .item-pod-menu-articles__read {
    text-decoration: underline;
  }
  .item-pod-menu-articles__link:hover .item-pod-menu-articles__title {
    color: #da0e17;
  }
}
.item-pod-menu-articles__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 120%;
}
@media (max-width: 61.99875em) {
  .item-pod-menu-articles__title {
    font-size: 0.75rem;
  }
}
.item-pod-menu-articles__title-article {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  color: #2d3039;
  transition: 0.3s;
}
.item-pod-menu-articles__row {
  padding: 0.625rem 0 0 0;
  display: flex;
  gap: 0 0.625rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.item-pod-menu-articles__date {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #a8abb9;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-articles__date {
    font-size: 0.75rem;
  }
}
.item-pod-menu-articles__read {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #0278ff;
}
@media (max-width: 47.99875em) {
  .item-pod-menu-articles__read {
    font-size: 0.75rem;
  }
}

.header-become {
  margin-top: -0.9375rem;
  padding: 0 0.9375rem;
}
@media (min-width: 47.99875em) {
  .header-become {
    display: none;
  }
}
.header-become__title {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-bottom: 0.9375rem;
}
.header-become__title-text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 120%;
  color: #515568;
}
.header-become__buttons {
  gap: 0.9375rem;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}
.header-become__button {
  font-weight: 600;
  width: 100%;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  padding: 0.8125rem 1.5625rem;
}

@media (max-width: 61.99875em) {
  #services,
#blog {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  #menu-mobile {
    display: none;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 0.875rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  background-color: #45474b;
}
@media (min-width: 69.375em) {
  .footer {
    padding-block: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .footer {
    padding-block: clamp( 3.125rem , 9.2101704579rem  +  -8.7714168762vw , 5rem );
  }
}
@media (max-width: 47.99875em) {
  .footer {
    padding-block: 5rem;
  }
}
@media (min-width: 47.99875em) {
  .footer {
    padding-block: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .footer {
    padding-block: clamp( 3.75rem , 2.8571029957rem  +  4.4644850217vw , 5rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-block: 3.75rem;
  }
}
.footer__title {
  line-height: 1.1428571429;
  text-align: center;
  color: #ffffff;
  max-width: 50rem;
  padding: 0 0 2.1875rem 0;
  margin: auto;
}
@media (min-width: 69.375em) {
  .footer__title {
    font-size: 2.625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .footer__title {
    font-size: clamp( 2.25rem , 1.4079659084rem  +  1.7542833752vw , 2.625rem );
  }
}
@media (max-width: 47.99875em) {
  .footer__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 47.99875em) {
  .footer__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .footer__title {
    font-size: clamp( 1.25rem , 0.5356823965rem  +  3.5715880173vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .footer__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .footer__title {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .footer__title {
    padding-bottom: clamp( 1.5625rem , 1.1160514978rem  +  2.2322425108vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .footer__title {
    padding-bottom: 1.5625rem;
  }
}
.footer__subtitle {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  text-align: center;
  color: #ffffff;
  margin: auto;
  max-width: 25rem;
}
@media (min-width: 47.99875em) {
  .footer__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .footer__subtitle {
    font-size: clamp( 1rem , 0.9107102996rem  +  0.4464485022vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .footer__subtitle {
    font-size: 1rem;
  }
}
@media (min-width: 69.375em) {
  .footer__subtitle {
    padding-bottom: 5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .footer__subtitle {
    padding-bottom: clamp( 3.75rem , 0.9432196948rem  +  5.8476112508vw , 5rem );
  }
}
@media (max-width: 47.99875em) {
  .footer__subtitle {
    padding-bottom: 3.75rem;
  }
}
.form-footer {
  display: grid;
  row-gap: 2.1875rem;
  grid-template-columns: 23.4% 23.4% 23.4% 1fr;
}
@media (min-width: 69.375em) {
  .form-footer {
    column-gap: 0.9375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 69.375em) {
  .form-footer {
    column-gap: clamp( 0.625rem , -2.0016204881rem  +  4.2365700729vw , 0.9375rem );
  }
}
@media (max-width: 61.99875em) {
  .form-footer {
    column-gap: 0.625rem;
  }
}
@media (min-width: 69.375em) {
  .form-footer {
    padding-bottom: 5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .form-footer {
    padding-bottom: clamp( 3.75rem , 0.9432196948rem  +  5.8476112508vw , 5rem );
  }
}
@media (max-width: 47.99875em) {
  .form-footer {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 47.99875em) {
  .form-footer {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .form-footer {
    padding-bottom: clamp( 2.1875rem , 1.0713787446rem  +  5.5806062771vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .form-footer {
    padding-bottom: 2.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .form-footer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 2.8125rem;
  }
}
@media (max-width: 47.99875em) {
  .form-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.form-footer__item {
  position: relative;
}
.form-footer__label {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #fff;
  position: absolute;
  top: -0.3125rem;
  opacity: 0;
  text-transform: uppercase;
  visibility: hidden;
  display: block;
  transition: 0.3s;
}
.form-footer__label._active {
  top: -1.5625rem;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 47.99875em) {
  .form-footer__label._mobile-active {
    top: -1.5625rem;
    opacity: 1;
    visibility: visible;
  }
}
.form-footer__input {
  width: 100%;
  background: #fafafa;
  border-radius: 0.1875rem;
  height: 3.125rem;
  padding: 0.75rem 1.375rem;
  color: #2d3039;
  transition: 0.3s;
}
.form-footer__input::placeholder {
  color: #b0b0b0;
}

.form-footer-button__btn {
  width: 100%;
  padding: 1.1875rem 1.875rem;
}
@media (max-width: 47.99875em) {
  .form-footer-button__btn {
    margin-top: -0.625rem;
  }
}
.form-footer-button__descr {
  text-align: right;
  font-size: 0.625rem;
  line-height: 120%;
  text-align: right;
  padding: 0.3em 0 0 0;
  color: #ffffff;
}
@media (max-width: 47.99875em) {
  .form-footer-button__descr {
    text-align: center;
  }
}

.bottom-footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.4375rem;
}
@media (max-width: 61.99875em) {
  .bottom-footer__row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__row {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer-logo {
    order: 3;
    align-self: end;
  }
}
@media (max-width: 47.99875em) {
  .footer-logo {
    order: 4;
    padding-top: 0.9375rem;
  }
}
.footer-logo__image img {
  max-width: 100%;
}
.footer-logo__copy {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 150%;
  color: #ffffff;
  padding-top: 1.25rem;
}
@media (max-width: 47.99875em) {
  .footer-logo__copy {
    padding-top: 0.9375rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer-navigation {
    order: 4;
  }
  .footer-navigation_first {
    order: 2;
  }
}
@media (max-width: 47.99875em) {
  .footer-navigation {
    order: 2;
  }
  .footer-navigation_first {
    order: 1;
  }
}
.footer-navigation__item {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .footer-navigation__item:hover {
    text-decoration: none;
  }
}
.footer-navigation__item:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
.footer-navigation__link {
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}
@media (max-width: 47.99875em) and (min-width: 29.99875em) {
  .footer-navigation__link {
    font-size: 1rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .footer-contacts {
    order: 1;
  }
}
@media (max-width: 47.99875em) {
  .footer-contacts {
    order: 3;
    padding-top: 1.25rem;
  }
}
.footer-contacts__telephone {
  font-size: 1.5rem;
  line-height: 133%;
  font-weight: 700;
  color: #ffffff;
  padding: 0 0 0.9375rem 0;
  display: inline-block;
}
.footer-contacts__timetable {
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
  padding: 0 0 0.9375rem 0;
}
@media (max-width: 47.99875em) {
  .footer-contacts__timetable {
    padding: 0 0 1.875rem 0;
  }
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .footer-social {
    justify-content: center;
    gap: 1.25rem;
  }
}
.footer-social__image img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .footer-social__image img {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.page {
  padding-bottom: 1.875rem;
}
.page__row {
  padding: 2.5rem 0 0 0;
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .page__row {
    padding: 2.1875rem 0 0 0;
  }
}
.page__row_article {
  padding-top: 0;
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .page__row_article {
    padding-bottom: clamp( 4.375rem , -5.4487310684rem  +  20.4666393778vw , 8.75rem );
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 69.375em) {
  .page__row_article {
    padding-bottom: clamp( 3.75rem , 3.496835443rem  +  1.2658227848vw , 4.375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .page__row_article {
    padding-bottom: 3.75rem;
  }
}

.content-page {
  flex: 0 0 74.3%;
}
@media (max-width: 61.99875em) {
  .content-page {
    flex: 1 1 100%;
  }
}
.top-content__row {
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .top-content__row {
    display: block;
  }
}
@media (min-width: 69.375em) {
  .top-content__search-form {
    flex-basis: 42.9375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .top-content__search-form {
    flex-basis: clamp( 21.9375rem , -25.2164091281rem  +  98.2398690135vw , 42.9375rem );
  }
}
@media (max-width: 47.99875em) {
  .top-content__search-form {
    flex-basis: 21.9375rem;
  }
}

.form-top-content {
  position: relative;
}
.form-top-content._form-focus .form-top-content__button {
  color: #000;
}
.form-top-content__input {
  border: 0.0625rem solid #a8abb9;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  height: 3.125rem;
  padding: 0.75rem 3.125rem 0.75rem 1.1875rem;
  line-height: 1.3333333333;
  color: #000;
}
@media (min-width: 69.375em) {
  .form-top-content__input {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .form-top-content__input {
    font-size: clamp( 1rem , 0.7193219695rem  +  0.5847611251vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) {
  .form-top-content__input {
    font-size: 1rem;
  }
}
.form-top-content__input::placeholder {
  color: #a8abb9;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .form-top-content__input {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .form-top-content__input {
    font-size: clamp( 0.875rem , 0.7857102996rem  +  0.4464485022vw , 1rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form-top-content__input {
    font-size: 0.875rem;
  }
}
.form-top-content__button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1.125rem;
  font-size: 1.25rem;
  color: #a8abb9;
}

.spollers-content-page {
  position: relative;
}
@media (min-width: 69.375em) {
  .spollers-content-page {
    margin-top: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .spollers-content-page {
    margin-top: clamp( 1.875rem , 0.4716098474rem  +  2.9238056254vw , 2.5rem );
  }
}
@media (max-width: 47.99875em) {
  .spollers-content-page {
    margin-top: 1.875rem;
  }
}
.spollers-content-page__title {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.spollers-content-page__title._spoller-active .spollers-content-page__text-button {
  color: #da0e17;
}
.spollers-content-page__title._spoller-active .spollers-content-page__icon-button {
  transform: rotate(-180deg);
}
.spollers-content-page__text-button {
  transition: 0.3s;
  font-size: 1rem;
  line-height: 150%;
  color: #2d3039;
}
.spollers-content-page__icon-button {
  display: flex;
  transition: 0.3s;
}
.spollers-content-page__icon-button img {
  width: 0.6875rem;
  height: 0.6875rem;
  max-width: 100%;
  align-items: center;
}
.spollers-content-page__clear {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0.1875rem;
}
@media (min-width: 69.375em) {
  .spollers-content-page__clear {
    padding-left: 1.25rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .spollers-content-page__clear {
    padding-left: clamp( 0.625rem , -0.7783901526rem  +  2.9238056254vw , 1.25rem );
  }
}
@media (max-width: 47.99875em) {
  .spollers-content-page__clear {
    padding-left: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .spollers-content-page__clear {
    top: 0.78125rem;
  }
}
.spollers-content-page__clear input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.spollers-content-page__clear span {
  font-size: 1rem;
  color: #515568;
  transition: 0.3s;
}
@media (max-width: 47.99875em) {
  .spollers-content-page__clear span {
    display: none;
  }
}
@media (any-hover: hover) {
  .spollers-content-page__clear:hover span {
    color: #da0e17;
  }
  .spollers-content-page__clear:hover::after, .spollers-content-page__clear:hover::before {
    background-color: #da0e17;
  }
}
.spollers-content-page__clear::before {
  content: "";
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.625rem;
  width: 0.09375rem;
  transform: translate(0, -50%) rotate(45deg);
  background-color: #515568;
}
@media (max-width: 47.99875em) {
  .spollers-content-page__clear::before {
    height: 0.9375rem;
    width: 0.125rem;
  }
}
.spollers-content-page__clear::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  top: 50%;
  left: 0;
  height: 0.625rem;
  width: 0.09375rem;
  transform: translate(0, -50%) rotate(-45deg);
  background-color: #515568;
}
@media (max-width: 47.99875em) {
  .spollers-content-page__clear::after {
    height: 0.9375rem;
    width: 0.125rem;
  }
}

.tabs-filter__item > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.3s;
  background-color: #fff;
  left: 0;
}

._active-check span._background::before {
  background-color: #da0e17;
}

.dark-tabs span._background::before {
  background-color: rgba(0, 0, 0, 0.486);
}

._active-check ._input-text {
  color: #fff;
}

._input-text {
  color: #a8abb9;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}

.tabs-filter {
  padding: 1.25rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.875rem;
}
.tabs-filter__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
  border: 0.0625rem solid #a8abb9;
  padding: 0.40625rem 1.46875rem;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  color: #a8abb9;
  background-color: #fff;
  text-align: center;
}
.tabs-filter__item input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 61.99875em) {
  .main-content {
    padding: 1.25rem 0 0 0;
  }
}
.main-content__content {
  padding: 1.25rem 0 0 0;
}
.main-content__grid {
  display: grid;
  gap: 2.5rem 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(13.125rem, 1fr));
}
@media (max-width: 61.99875em) {
  .main-content__grid {
    gap: 2.1875rem 1.5rem;
  }
}
@media (max-width: 29.99875em) {
  .main-content__grid {
    grid-template-columns: 1fr;
  }
}
.main-content-filter__label > input:checked + span {
  color: #2d3039;
}
@media (any-hover: hover) {
  .main-content-filter__label > input:checked + span:hover {
    text-decoration: none;
    cursor: auto;
  }
}

.main-content-filter__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.main-content-filter__label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.1875;
}
.main-content-filter__label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.main-content-filter__label span {
  color: #0278ff;
}
@media (max-width: 47.99875em) {
  .main-content-filter__label span {
    font-size: 0.9375rem;
  }
}
.main-content-filter__label span._active {
  color: #2d3039;
}
@media (any-hover: hover) {
  .main-content-filter__label span:hover {
    text-decoration: underline;
  }
  .main-content-filter__label span:hover._active {
    text-decoration: none;
  }
}

.item-content {
  display: flex;
  flex-direction: column;
  display: none;
}
.item-content._active {
  display: flex;
}
.item-content__image-ibg {
  display: block;
  overflow: hidden;
  margin: 0 0 0.625rem 0;
  padding: 0 0 63.5294117647% 0;
  border-radius: 0.3125rem;
}
@media (any-hover: hover) {
  .item-content__image-ibg:hover img {
    transform: scale(1.1);
  }
}
.item-content__image-ibg img {
  transition: 0.3s;
}
.item-content__hashtag {
  display: block;
  font-size: 0.875rem;
  line-height: 171%;
  color: #0278ff;
  margin: 0.625rem 0 0.4375rem 0;
}
@media (any-hover: hover) {
  .item-content__hashtag:hover {
    text-decoration: underline;
  }
}
.item-content__title {
  flex: 1 1 100%;
  font-weight: 700;
  font-size: 1.125rem;
  display: block;
  line-height: 1.2222222222;
  color: #2d3039;
  margin: 0 0 1.25rem 0;
  transition: 0.3s;
}
@media (max-width: 61.99875em) {
  .item-content__title {
    font-size: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .item-content__title {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .item-content__title:hover {
    color: #da0e17;
  }
}
.item-content-row {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}
.item-content-row__time {
  font-size: 0.75rem;
  line-height: 200%;
  color: #a8abb9;
}
.item-content-row__read {
  font-size: 0.75rem;
  line-height: 200%;
  color: #0278ff;
}
@media (any-hover: hover) {
  .item-content-row__read:hover {
    text-decoration: underline;
  }
}

.more-main-content {
  text-align: center;
  text-decoration: underline;
}
@media (min-width: 69.375em) {
  .more-main-content {
    padding-top: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .more-main-content {
    padding-top: clamp( 1.875rem , 0.4716098474rem  +  2.9238056254vw , 2.5rem );
  }
}
@media (max-width: 47.99875em) {
  .more-main-content {
    padding-top: 1.875rem;
  }
}
@media (any-hover: hover) {
  .more-main-content:hover {
    text-decoration: none;
  }
}
.more-main-content__link {
  color: #0278ff;
}

@media (max-width: 61.99875em) {
  .sidebar-page {
    display: none;
  }
}
.sidebar-authors {
  padding: 0 0 1.25rem 0;
  display: block;
}
.sidebar-authors__list {
  padding: 0 0 1.875rem 0;
}
.sidebar-authors__button {
  padding: 0.75rem 1.6875rem;
  display: block;
}

.sidebar-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #2d3039;
  margin-bottom: 1.25rem;
  padding-bottom: 0.5625rem;
  border-bottom: 0.0625rem solid #da0e17;
}

.list-sidebar-authors__item:not(:last-child) {
  padding: 0 0 0.9375rem 0;
}
@media (any-hover: hover) {
  .list-sidebar-authors__item:hover {
    text-decoration: underline;
  }
}
.list-sidebar-authors__link {
  font-size: 1rem;
  line-height: 140%;
  color: #0278ff;
}

.sidebar-new-articles {
  padding: 0 0 2.5rem 0;
}
.sidebar-new-articles__item {
  display: block;
}
@media (any-hover: hover) {
  .sidebar-new-articles__item:hover .sidebar-new-articles__read {
    text-decoration: underline;
  }
  .sidebar-new-articles__item:hover .sidebar-new-articles__title {
    color: #da0e17;
  }
}
.sidebar-new-articles__item:not(:last-child) {
  padding: 0 0 1.5625rem 0;
}
.sidebar-new-articles__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #2d3039;
  padding: 0 0 0.625rem 0;
  transition: 0.3s;
}
.sidebar-new-articles__text {
  font-size: 0.875rem;
  line-height: 140%;
  color: #2d3039;
  padding: 0 0 0.625rem 0;
}
.sidebar-new-articles__read {
  font-size: 0.75rem;
  line-height: 200%;
  color: #0278ff;
}

.sidebar-popular-articles {
  display: block;
}
.sidebar-popular-articles:not(:last-child) {
  padding: 0 0 1.25rem 0;
}
@media (any-hover: hover) {
  .sidebar-popular-articles:hover .sidebar-popular-articles__title {
    color: #da0e17;
  }
  .sidebar-popular-articles:hover .articles-popular-row-read {
    text-decoration: underline;
  }
}
.sidebar-popular-articles__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #2d3039;
  padding: 0 0 1.25rem 0;
  transition: 0.3s;
}
.articles-popular-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles-popular-row__item {
  gap: 0.3125rem;
}

.articles-popular-row-read {
  font-size: 0.75rem;
  line-height: 200%;
  color: #a8abb9;
}

.articles-popular-row-date {
  font-size: 0.75rem;
  line-height: 200%;
  color: #0278ff;
}

.page-top-content {
  padding: 0 0 1.5625rem 0;
}
.page-top-content__title {
  padding: 0 0 0.9375rem 0;
}
.page-content-date {
  font-size: 0.75rem;
  line-height: 200%;
  color: #a8abb9;
  padding: 0 0 1.25rem 0;
  display: block;
}

.page-content-topic {
  padding: 0 0 0.9375rem 0;
  font-size: 0.875rem;
  line-height: 171%;
  color: #2d3039;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .page-content-topic {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .page-content-topic {
    padding-bottom: clamp( 0.625rem , 0.4017757489rem  +  1.1161212554vw , 0.9375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .page-content-topic {
    padding-bottom: 0.625rem;
  }
}

.page-content-author {
  font-size: 0.875rem;
  line-height: 171%;
  color: #2d3039;
}

.page-content-link {
  color: #0278ff;
}
@media (any-hover: hover) {
  .page-content-link:hover {
    text-decoration: underline;
  }
}

.main-article-content__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  color: #2d3039;
  padding: 0 0 1.875rem 0;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-article-content__subtitle {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .main-article-content__subtitle {
    font-size: clamp( 1rem , 0.8214205991rem  +  0.8928970043vw , 1.25rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .main-article-content__subtitle {
    font-size: 1rem;
  }
}
.main-article-content__image {
  margin-bottom: 2.8125rem;
}
.main-article-content__text {
  padding: 0 0 1.875rem 0;
  font-size: 1rem;
  line-height: 140%;
  color: #2d3039;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-article-content__text {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .main-article-content__text {
    font-size: clamp( 0.875rem , 0.7857102996rem  +  0.4464485022vw , 1rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .main-article-content__text {
    font-size: 0.875rem;
  }
}
.main-article-content__list {
  max-width: 47.5rem;
  padding: 0 0 2.8125rem 0;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-article-content__list {
    padding-bottom: 2.8125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .main-article-content__list {
    padding-bottom: clamp( 1.875rem , 1.2053272468rem  +  3.3483637662vw , 2.8125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .main-article-content__list {
    padding-bottom: 1.875rem;
  }
}
.list-article-content__item {
  padding-left: 1.875rem;
  font-size: 1rem;
  line-height: 140%;
  color: #2d3039;
  position: relative;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .list-article-content__item {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .list-article-content__item {
    font-size: clamp( 0.875rem , 0.7857102996rem  +  0.4464485022vw , 1rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .list-article-content__item {
    font-size: 0.875rem;
  }
}
.list-article-content__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.list-article-content__item:before {
  position: absolute;
  left: 0;
  top: 0.5625rem;
  font-size: 0.5rem;
  color: #da0e17;
}

.article-content-important {
  max-width: 41.5rem;
  background: #2d3039;
  margin-bottom: 1.875rem;
}
.article-content-important__body {
  padding: 1.25rem 3.75rem 1.5625rem 3.75rem;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__body {
    padding-bottom: 1.5625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__body {
    padding-bottom: clamp( 0.9375rem , 0.4910514978rem  +  2.2322425108vw , 1.5625rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__body {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__body {
    padding-top: 1.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__body {
    padding-top: clamp( 0.9375rem , 0.7142757489rem  +  1.1161212554vw , 1.25rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__body {
    padding-top: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__body {
    padding-right: 3.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__body {
    padding-right: clamp( 0.9375rem , -1.0715182597rem  +  10.0450912987vw , 3.75rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__body {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__body {
    padding-left: 3.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__body {
    padding-left: clamp( 2.8125rem , 2.1428272468rem  +  3.3483637662vw , 3.75rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__body {
    padding-left: 2.8125rem;
  }
}
.article-content-important__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 140%;
  color: #da0e17;
  position: relative;
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__title {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__title {
    margin-bottom: clamp( 0.625rem , 0.4017757489rem  +  1.1161212554vw , 0.9375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__title {
    margin-bottom: 0.625rem;
  }
}
.article-content-important__title::before {
  content: "";
  position: absolute;
  left: -1.875rem;
  top: 0.3125rem;
  width: 1.375rem;
  height: 1.375rem;
  background: url("../img/icons/important.svg") 0 0/1.375rem 1.375rem no-repeat;
}
.article-content-important__text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 140%;
  color: #ffffff;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .article-content-important__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .article-content-important__text {
    font-size: clamp( 1.25rem , 1.0714205991rem  +  0.8928970043vw , 1.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .article-content-important__text {
    font-size: 1.25rem;
  }
}

.main-content_authors {
  padding: 0;
}
.main-content_authors .main-content__content {
  padding: 0;
}
.main-content_authors .more-main-content {
  padding: 2.5rem 0 0 0;
}

.letters__list {
  display: flex;
  gap: 0.3125rem 0.625rem;
  flex-wrap: wrap;
}
.letters__text {
  color: #2d3039;
  font-size: 1rem;
  line-height: 140%;
}
.letters__link {
  font-size: 1rem;
  line-height: 140%;
  color: #0278ff;
}
@media (any-hover: hover) {
  .letters__link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 69.375em) {
  .authors-content__letters {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__letters {
    padding-bottom: clamp( 1.875rem , 5.9317803052rem  +  -5.8476112508vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) {
  .authors-content__letters {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .authors-content__letters {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .authors-content__letters {
    padding-bottom: clamp( 1.875rem , 0.9821029957rem  +  4.4644850217vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .authors-content__letters {
    padding-bottom: 1.875rem;
  }
}
.authors-content__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 3.75rem;
}
@media (max-width: 72.5em) {
  .authors-content__grid {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 69.375em) {
  .authors-content__grid {
    column-gap: 3.75rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__grid {
    column-gap: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .authors-content__grid {
    column-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .authors-content__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) and (min-width: 69.375em) {
  .authors-content__grid {
    row-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__grid {
    row-gap: clamp( 1.875rem , 0.4716098474rem  +  2.9238056254vw , 2.5rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .authors-content__grid {
    row-gap: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .authors-content__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
.authors-content__item {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 72.5em) {
  .authors-content__item {
    gap: 0.9375rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 69.375em) {
  .authors-content__item {
    column-gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__item {
    column-gap: clamp( 1.5625rem , 0.8608049237rem  +  1.4619028127vw , 1.875rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .authors-content__item {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 47.99875em) {
  .authors-content__item {
    column-gap: 1.25rem;
  }
}
.authors-content__image-ibg {
  border-radius: 50%;
  width: 100%;
  height: 7.8125rem;
  flex-shrink: 0;
  max-width: 7.8125rem;
}
@media (min-width: 69.375em) {
  .authors-content__image-ibg {
    height: 7.8125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__image-ibg {
    height: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (max-width: 47.99875em) {
  .authors-content__image-ibg {
    height: 5rem;
  }
}
@media (min-width: 69.375em) {
  .authors-content__image-ibg {
    max-width: 7.8125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__image-ibg {
    max-width: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (max-width: 47.99875em) {
  .authors-content__image-ibg {
    max-width: 5rem;
  }
}
@media (min-width: 69.375em) {
  .authors-content__image-ibg {
    flex-basis: 7.8125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .authors-content__image-ibg {
    flex-basis: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (max-width: 47.99875em) {
  .authors-content__image-ibg {
    flex-basis: 5rem;
  }
}
.authors-content__name {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #2d3039;
}
@media (max-width: 47.99875em) {
  .authors-content__name {
    font-size: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .authors-content__name {
    font-size: 0.875rem;
  }
}

.page__row_author {
  padding-top: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .page__row_author {
    padding-top: 0;
  }
}

.main-content_author {
  padding: 0;
}

.main-content__author {
  padding-bottom: 1.5625rem;
}

.main-content__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 0.8181818182;
  color: #2d3039;
  padding: 0 0 1.25rem 0;
}

.author__row {
  display: flex;
  row-gap: 0.9375rem;
  max-width: 47.9375rem;
}
@media (min-width: 69.375em) {
  .author__row {
    column-gap: 2.1875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__row {
    column-gap: clamp( 1.25rem , -0.8550852289rem  +  4.3857084381vw , 2.1875rem );
  }
}
@media (max-width: 47.99875em) {
  .author__row {
    column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .author__row {
    max-width: 29.6875rem;
  }
}
@media (max-width: 29.99875em) {
  .author__row {
    max-width: none;
    flex-direction: column;
  }
}
.author__image-ibg {
  border-radius: 50%;
  width: 100%;
  height: 7.8125rem;
  flex-shrink: 0;
  max-width: 7.8125rem;
}
@media (min-width: 29.99875em) and (min-width: 69.375em) {
  .author__image-ibg {
    height: 7.8125rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__image-ibg {
    height: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (min-width: 29.99875em) and (max-width: 47.99875em) {
  .author__image-ibg {
    height: 5rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 69.375em) {
  .author__image-ibg {
    max-width: 7.8125rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__image-ibg {
    max-width: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (min-width: 29.99875em) and (max-width: 47.99875em) {
  .author__image-ibg {
    max-width: 5rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 69.375em) {
  .author__image-ibg {
    flex-basis: 7.8125rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__image-ibg {
    flex-basis: clamp( 5rem , -1.3152556868rem  +  13.1571253143vw , 7.8125rem );
  }
}
@media (min-width: 29.99875em) and (max-width: 47.99875em) {
  .author__image-ibg {
    flex-basis: 5rem;
  }
}
.author__name {
  line-height: 1.2222222222;
  padding: 0 0 0.625rem 0;
}
@media (min-width: 69.375em) {
  .author__name {
    font-size: 2.25rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__name {
    font-size: clamp( 1.5rem , -0.1840681831rem  +  3.5085667505vw , 2.25rem );
  }
}
@media (max-width: 47.99875em) {
  .author__name {
    font-size: 1.5rem;
  }
}
.author__position {
  line-height: 140%;
  color: #2d3039;
}
@media (min-width: 69.375em) {
  .author__position {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .author__position {
    font-size: clamp( 0.875rem , 0.313643939rem  +  1.1695222502vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) {
  .author__position {
    font-size: 0.875rem;
  }
}
.author__position:not(:last-child) {
  padding: 0 0 0.3125rem 0;
}

.top__content_headings {
  padding: 0 0 1.5625rem 0;
}
@media (min-width: 72.5em) {
  .top__content_headings .spollers-content-page__radio.main-content-filter {
    margin-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  .top__content_headings .spollers-content-page__radio.main-content-filter {
    margin-top: clamp( 1.875rem , 1.6369047619rem  +  1.1904761905vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .top__content_headings .spollers-content-page__radio.main-content-filter {
    margin-top: 1.875rem;
  }
}

.page__row_headings {
  padding: 0;
}
.page__row_headings .content-page__main.main-content {
  padding: 0;
}
.page__row_headings .main-content__content {
  padding: 0;
}
